body {

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.29;
  font-weight: 400;
 

 
}



.breed-select {
  font-size: 20px;
  
  border: 2px solid;
  box-shadow: 10px 5px 5px grey; 


  margin-bottom: 20px;
}

.cat-info {
  padding: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center ;
  gap: 20px;
  max-width: 800px;
  border: 2px solid;
  box-shadow: 10px 5px 5px grey; 

}

.hidden {
  visibility: hidden;
}

.catText {
    display: flex;
    flex-direction: column;
}

.temperSpan {
font-style: italic;
font-weight: bold;
margin-right: 10px;
font-size: 110%;
}

.loader {
  margin-left: 70px;
    width: 38px;
    height: 38px;
    border: 4px solid #0a0a0a;
    border-bottom-color: #e9eb96;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 